body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-navigation {
  display: flex;
}

.nav-logo {
  display: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  line-height: 26px;
  padding: 0;
}

.site-navigation li{
  width: 239px;
  text-align: center;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background_photo.jpg);
  background-repeat: no-repeat;
  background-color: #766357;
}

.main-logo{
  margin-top: 76px;
  margin-bottom: 140px;
}

.welcome-title {
  text-align: center;
  width: 440px;
  height: 48px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.welcome-text {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-bottom: 56px;
}

.content-row {
  display: flex;
}

.content-item {
  background-color: #81b3d2;
  height: 142px;
  text-align: center;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 64px;
}

.content-item h3 {
  font-size: 21px;
  color: #ffffff;
}

.content-item span,
.content-item p {
  font-weight: 400;
  color: #ffffff;
}

.content-item-img {
  background-color: #766357;
}

.features-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-item {
  list-style: none;
  background-color: #ffffff;
  height: 182px;
  width: 273px;
  padding-top: 60px;
  padding-bottom: 86px;
}

.feature-item h3 {
  font-size: 21px;
  color: #000000;
}

.feature-item p {
  color: #333333;
  font-weight: 400;
}

.reason-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.reason-item h3 {
  font-size: 21px;
  color: #000000;
}

.reason-item {
  color: #333333;
  font-weight: 400;
  height: 142px;
  text-align: center;
  padding-top: 50px;
  padding-right: 69px;
  padding-bottom: 64px;
  padding-left: 69px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}

.reserve h2 {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  color: #000000;
}

.reserve p {
  text-align: center;
  font-weight: 400;
  color: #333333;
}

.reserve-button {
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 52px;
}

.reserve-button:hover {
  background-color: #604e43;
}

.reserve-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.popup {}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts,
.contacts a {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social-button {
  color: #81b3d2;
}

.social-button:hover {
  color: #669ec0;
}

.social-button:focus {
  color: #5496bd;
}

.copyright {
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.copyright img {
  background-color: #ffffff;
}

.filter-columns {
  display: flex;
}

.filter {
  display: flex;
  background-image: url(../img/filter_background.png);
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter input[type="checkbox"] {
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.range-slider-down,
.range-slider-up {
  background: transparent;
  border: solid 2px #ffffff;
  color: #ffffff;
}

.result-button {
  background: transparent;
  border: solid 2px #ffffff;
  color: #ffffff;
  text-transform: uppercase;
}

.search-section {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 10px;
  color: #000000;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  list-style: none;
}

.sort-list-item {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort-list-item:hover {
  color: #81b3d2;
}

.sort-list-item:active {
  color: #000000;
}

.active {
  color: #81b3d2;
}

.sort-arrow-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.sort-arrow-up {
  list-style: none;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-color: #cacaca;
  width: 11px;
  height: 10px;
}

.sort-arrow-down {
  list-style: none;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-color: #81b3d2;
  width: 11px;
  height: 10px;
}

.show-search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.content-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-rating {
  margin-left: auto;
}

.content-list-item h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-left: 10px;
}

.content-list-item p {
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.content-list-item h3:hover {
  color: #81b3d2;
}

.content-list-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-button {
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.details-button:hover {
  background-color: #669ec0;
}

.details-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.reserved-button {
  background-color: #766357;
  width: 110px;
  height: 27px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: none;
}

.reserved-button:hover {
  background-color: #604e43;
}

.reserved-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-weight: 400;
  line-height: 21px;
  color: #666666;
}
